{% extends 'base/base.html' %}
{% load static %}
{% load news_template_filters %}
{% load news_template_includetags %}


{% block title %}
庸了个白's 破站 - 搜索
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/news/search.css' %}">
{% endblock %}

{% block main_contain %}
    <div class="main-contain ">
        <!-- search-box start -->
        <div class="search-box">
            <form action="" style="display: inline-flex;">

                <input type="search" placeholder="请输入要搜索的内容" name="q" class="search-control">


                <input type="submit" value="搜索" class="search-btn">
            </form>
            <!-- 可以用浮动 垂直对齐 以及 flex  -->
        </div>
        <!-- search-box end -->
        <!-- content start -->
        <div class="content">
            {% if query %}

                <!-- search-list start -->
                <div class="search-result-list">
                    <h2 class="search-result-title">
                        搜索结果
                        <span>
                        {{ page.paginator.num_pages|default:0 }}
                    </span> 页
                    </h2>
                    <ul class="news-list">
                        {% load highlight %}
                        {% for news in page %}
                            <li class="news-item clearfix">
                                <a href="{% url 'news:news_detail' news.id %}" class="news-thumbnail" target="_blank">
                                    <img src="{{ news.image_url }}" alt="">
                                </a>
                                <div class="news-content">
                                    <h4 class="news-title">
                                        <a href="{% url 'news:news_detail' news.id %}">
                                            {% highlight news.title with query %}
                                        </a>
                                    </h4>
                                    <p class="news-details">
                                        {% highlight news.digest with query %}
                                    </p>
                                    <div class="news-other">
                                    <span class="news-type">
                                        {{ news.object.tag.name }}
                                    </span>
                                        <span class="news-time">
                                        {{ news.object.update_time }}
                                    </span>
                                        <span class="news-author">
                                        {% highlight news.object.author.username with query %}
                                    </span>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="news-item clearfix">
                                <p>没有找到你想找的内容</p>
                            </li>
                        {% endfor %}

                    </ul>

                </div>

                <!-- search-list end -->
            {% else %}
                <!-- news-contain start -->

                <div class="news-contain">
                    <div class="hot-recommend-list">
                        <h2 class="hot-recommend-title">热门推荐</h2>
                        <ul class="news-list">
                            {% for hot_news in page %}
                                <li class="news-item clearfix">
                                    <a href="{% url 'news:news_detail' hot_news.news.id %}" class="news-thumbnail">
                                        <img src="{{ hot_news.news.image_url }}">
                                    </a>
                                    <div class="news-content">
                                        <h4 class="news-title">
                                            <a href="{% url 'news:news_detail' hot_news.news.id %}">{{ hot_news.news.title }}</a>
                                        </h4>
                                        <p class="news-details">
                                            {{ hot_news.news.digest }}
                                        </p>
                                        <div class="news-other">
                                            <span class="news-type">{{ hot_news.tag.name }}</span>
                                            <span class="news-time">{{ hot_news.update_time }}</span>
                                            <span class="news-author">{{ hot_news.author.username }}</span>
                                        </div>
                                    </div>
                                </li>

                            {% endfor %}

                        </ul>
                    </div>
                </div>


                <!-- news-contain end -->
            {% endif %}
            <!-- paginator start-->
                {% paginator_box page query %}
            <!-- paginator end-->
        </div>
        <!-- content end -->
    </div>
{% endblock %}

{% block js %}
{% endblock %}

