{% extends 'admin/base/content_base.html' %}
{% load static %}
{% load news_template_filters %}
{% block header %}
    系统设置
{% endblock %}
{% block small_header %}
    权限分组
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">分组列表</h3>
            <div class="box-tools">
                <button type="button" class="btn btn-primary btn-sm"
                        data-url="{% url 'admin:add_group' %}">添加分组
                </button>
            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <div style="margin-bottom: 10px">

            </div>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>#</th>
                    <th>组名</th>
                    <th>菜单</th>
                </tr>
                {% for group in groups %}
                    <tr>
                        <td style="width: 40px" data-url="{% url 'admin:update_group' group.id %}"><a
                                href="#">{{ forloop.counter }}</a></td>
                        <td>{{ group.name }}</td>
                        <td>
                            {% for permis in group.permissions.all %}
                                {{ permis.name }}/
                            {% empty %}
                                暂未分配权限
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/admin/group/group_list.js' %}"></script>
{% endblock %}