{% extends 'admin/base/obj_list.html' %}
{% block add_button %}
    <button type="button" class="btn btn-primary btn-sm"
            data-url="{% url 'admin:news_tag_add' %}">添加
    </button>
{% endblock %}
{% block table_content %}
    <tr>
        <th>#</th>
        <th>标签名</th>
        <th>是否可用</th>
    </tr>
    {% for obj in page_obj %}
        <tr>
            <td style="width: 40px" data-url="{% url 'admin:news_tag_update' obj.id %}"><a
                    href="#">{{ forloop.counter }}</a></td>
            <td>{{ obj.name }}</td>
            <td>{% if obj.is_delete %}否{% else %}是{% endif %}</td>
        </tr>
    {% endfor %}
{% endblock %}